:root {
    --color-primary: #FF6565;
    --color-black:  #090909;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;

    --text-color: var(--color-black);

    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 2.2rem;
    --font-size-x-large: 3.9rem;
    --font-size-xx-large: 4.8rem;

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
}

* {
    line-height: var(--line-height-base);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    color: var(--color-white);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}

h1{
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-x-large);
}

h2 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-large);
}

h3 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-medium);
}

.hero_container {
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-position: center;
}

.header {
    display: flex;
    min-height: fit-content;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 3rem 25rem 0 25rem;
}

.logo img {
    min-width: 70%;
    min-height: 70%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    padding: 0 2.5rem 0 2.5rem;
    color: #ffffff;
    text-decoration: none;
}

.right-nav>a {
    white-space: nowrap;
}

section.hero_cta {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 50vw;
    bottom: -20vw;
    position: relative;
}

section.hero_cta * {
    /* padding: 3rem 1rem 3rem 1rem; */
    margin: 2rem 0 2rem 0;
    display: flex;
    align-self: center;
    position: inherit;
    text-align: center;
}

input[type="button"]:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

h1.hero_h1 {
    margin-bottom: 0;
}

h2.hero_h2 {
    margin-top: 0;
}

p.hero_p {
    margin-top: 10rem;
}


/* Insert Hamburger */

* {
    box-sizing: border-box;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: none;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 480px) {
    .logo img {
        width: 10%;
        height: 10%;
        align-self: center;
    }

    .logo {
        padding-left: 5rem;
    }
    
    .menu-button-container {
        display: flex;
    }
    .header {
        padding: 5rem 1rem 1rem 2rem;
    }
    
    .menu {
        position: absolute;
        top: 0;
        margin-top: 10rem;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: block;
    }
    
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
    }
    
    .menu > li > a {
        padding: 0 2.5rem 0 2.5rem;
        color: #ffffff;
        text-decoration: none;
    }
    
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    
    .right-nav {
        display: none;
    }
    
    h1.hero_h1 {
        margin-bottom: 0;
        font-size: var(--font-size-large);
    }
    
    h2.hero_h2 {
        margin-top: 0;
        font-size: var(--font-size-medium);
    }
    
    p.hero_p {
        margin-top: 5rem;
        font-size: var(--font-size-small);
    }
    
    section.hero_cta {
        max-width: 75vw;
        top: 15rem;
    }
}

/* What we do... */
.what-we-do-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    padding: 5rem 0 5rem 0;
    color: var(--color-black);
    flex-direction: column;
}

div.what-we-do-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin-bottom: 5rem;
}

.we-do-blocks {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 5rem 0 5rem 0;
}

@media screen and (max-width:480px) {
    .we-do {
        margin: 5rem 0 5rem 0;
    }
    
    .what-we-do-container {
        flex-direction: row;
        overflow: scroll;
    }
    
    .we-do-blocks {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

h2.what-we-do {
    margin-bottom: 4rem;
    font-weight: var(--font-weight-bold);
}

p.what-we-do {
    text-align: center;
    font-size: var(--font-size-small);
}

/* Results */
.wrapper {
    overflow: visible;
}

.results-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    overflow: auto;
    padding: 5rem 0 5rem 0;
}

div.results-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin-bottom: 5rem;
}

div.results-figures {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
}

div.results-figures div.figure {
    margin: 1rem;
}

div.results-copy h2.results {
    margin-bottom: 4rem;
}

div.results-copy p.results {
    text-align: center;
}

div.figure {
    background-image: url(images/pentagone.png);
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 20rem;
}

/* @media (max-width: 767px) {
    .results-container {
        flex-direction: column;
    }
} */

/* Form */
.form-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.form h1 {
    align-self: center;
}

.form input[type="text"] {
    border:none;
    outline: none;
    border-bottom: .1rem solid var(--color-grey);
    padding: 0 0 1rem 0;
    font-weight: var(--font-weight-bold);
}

.form input::placeholder {
    font-weight: bold;
}

.form * {
    color: var(--color-black);
    justify-self: center;
    margin: 2rem 0 2rem 0;
}

input[type="button"]{
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 22px;
    border: none;
    padding: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    width: 15rem;
    align-self: center;
}

/* Footer I think */
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    height: 25vh;
    background-color: var(--color-black);
    padding: 2rem;
}


.grid-container .logo {
    grid-row: 1;
    padding-left: 0;
    display: grid;
}

.grid-container .logo img {
    justify-self: center;
    position: relative;
    height: max-content;
}

.social {
    display: flex;
    justify-content: space-between;
    grid-row: 2;
    width: 60%;
}

.social-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-circle a {
    color: #fff;
    font-size: 24px;
}

.bottom-p {
    grid-row: 3;
    font-size: 12px;
    color: #666;
}

@media screen and (min-width: 481px) {
    .grid-container {
        justify-content: space-evenly;
        align-items: center;
        padding: 5rem 1rem 5rem 1rem;
    }
    
    .logo {
        grid-row: 1;
        grid-column: 1;
    }
    
    .social {
        grid-row: 1;
        grid-column: 2;
        width: auto;
    }
    
    .social-circle {
        margin: 1rem;
    }

    .bottom-p {
        grid-column: 1 / span 2;
    }
}
